<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
</head>

<style type="text/css">
    body {
            display: flex;
              align-items: center;
              justify-content: center;
              min-height: 100vh;
    }
</style>

<body>
    <form action="/charge" method="post">
        <article>
            <label>
              <span>Amount is $10.00</span>
            </label>
          </article>
    
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="{{ key }}"
                  data-description="A Flask Charge"
                  data-amount="1000"
                  data-locale="auto"></script>
        </form>
</body>
</html>